@model UsersApplication.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Сброс пароля";
}
<div class="container">
    <div class="login-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">Сброс пароля</h2>
            <hr />
            
            @Html.ValidationSummary()          
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email" })<br />
             <button type="submit" class="btn btn-success">Отправить письмо</button>
        }
    </div>

</div>

